body{
    background: #333;
    color: whitesmoke;
    font-family: monospace;
}

.result{
    background: #333;
    margin: 1em;
}

.rawResult{
    background: royalblue;
}

.regularResult{
    background: pink;
}

.bigResult{
    background: rebeccapurple;
    margin: 1em;
}
