body{
    background: black;
    color: whitesmoke;
    font-family: monospace;
    img{
        border-radius: 12px;
        transition: 0.5s ease-in-out;
    }
}

.result{
    background: #333;
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.smallResult{
    background: teal;
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bigResult{
    background: rebeccapurple;
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
