body{
    background: black;
    color: whitesmoke;
    font-family: monospace;
}

.result{
    background: #333;
    margin: 1em;
}
.smallResult{
    background: pink;
    margin: 1em;
}
.bigResult{
    background: rebeccapurple;
    margin: 1em;
}
